.coverrow {
    margin: -8px;
    background-image: url('../assets/images/bluricon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 100%;
    font-size: medium;
}

td {
    padding: 8px;
}
